love consultant.json
{
  "name": "love consultant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-bot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -384,
        240
      ],
      "id": "0153c7a4-452e-4a28-9e3b-21f1fe127696",
      "name": "Webhook",
      "webhookId": "8c7089e1-1539-4eb0-9f5f-805107f18e9d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d865dbd-e698-441a-9925-4bbcf13f9774",
              "name": "chat_text",
              "value": "={{ $json.chat_text }}",
              "type": "string"
            },
            {
              "id": "07273d63-ea79-4dd7-9fa4-dba4fc039aa5",
              "name": "replyToken",
              "value": "={{ $json.replyToken }}",
              "type": "string"
            },
            {
              "id": "a473564d-4583-4ca2-8bb6-26a37d3cd2e3",
              "name": "userId",
              "value": "={{ $json.userId }}",
              "type": "string"
            },
            {
              "id": "fb0a81cc-db34-4bd0-ab5c-b609d8860479",
              "name": "route",
              "value": "={{ $json.route }}",
              "type": "string"
            },
            {
              "id": "adddd9b4-5e70-4bfa-9d1c-b28527b0094d",
              "name": "route_expand",
              "value": "={{ $json.route_expanded }}",
              "type": "string"
            },
            {
              "id": "39965148-0152-4d10-87fb-943a8dce0c08",
              "name": "buddy",
              "value": "={{ $json.buddy }}",
              "type": "boolean"
            },
            {
              "id": "36dbd4ba-8c1a-408c-ae1c-50eebf4c2908",
              "name": "closing",
              "value": "={{ $json.closing }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        176
      ],
      "id": "bb6a937e-ff9b-4f23-babe-275628da09ee",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1856,
        880
      ],
      "id": "73fd9041-bab3-41a4-91d3-b553cc476c29",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tIHUPdMbXkkTH0y7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Edit Fields').item.json.replyToken }}\",\n\"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.output.replaceAll('\\n','\\\\n').replaceAll('\"','')}}\"\n    }\n  ]\n}\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2688,
        -208
      ],
      "id": "b3d06c71-7d3a-443c-8b9a-65c132d29cee",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "wAbVyNGfMeeH6MYu",
          "name": "Bearer Line Auth account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.userId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1968,
        880
      ],
      "id": "9fb8a6a4-f59c-4244-8378-819d23345084",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const ROUTE_MAP = {\n  conflict: \"การจัดการความขัดแย้งและความเข้าใจผิด\",\n  family: \"การเข้ากับครอบครัวอีกฝ่าย เช่น พ่อตา แม่ยาย พ่อผัว แม่ผัว ญาติที่ไม่ปลื้ม\",\n  dateidea: \"สถานที่เดท กิจกรรม และการสร้างบรรยากาศให้ผ่อนคลายและใกล้ชิด\",\n  deeptalk: \"ชุดคำถาม deep talk เพื่อเปิดใจ ทั้งทั่วไปและเรื่องเพศ\",\n  moveon: \"การ move on และดูแลหัวใจหลังเลิกกัน\",\n  sex: \"การพูดคุยและสร้างความเข้าใจเรื่องเพศอย่างสุภาพ ปลอดภัย และยินยอมสองฝ่าย\",\n  romance: \"การเพิ่มความหวาน ความโรแมนติก และเซอร์ไพรส์ในความสัมพันธ์\",\n  marriage: \"การเตรียมตัวและการดูแลความรักหลังแต่งงานให้ยั่งยืน\",\n  breakup: \"การรับมือและวิเคราะห์ความสัมพันธ์ที่กำลังสิ้นสุด\",\n  trust: \"การสร้างและรักษาความเชื่อใจในความสัมพันธ์\",\n  debt: \"การจัดการปัญหาหนี้สินและการเงินในความสัมพันธ์\",\n  time: \"การจัดสรรเวลาให้กันในคู่รัก\",\n  default: \"ทุกเรื่องที่เกี่ยวข้องกับความรักและความสัมพันธ์\"\n};\n\nconst routes = $json.route || [];\nconst expanded = (Array.isArray(routes) ? routes : [routes])\n  .map(r => ROUTE_MAP[r] || r)\n  .join(\", \");\n\nreturn [{ json: { ...$json, route_expanded: expanded } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        240
      ],
      "id": "6fa21209-c658-497d-b83a-881a82cfd1c1",
      "name": "ขยายความหัวข้อ"
    },
    {
      "parameters": {
        "jsCode": "// ============ Helpers ============\nconst rmThaiMarks = (s) =>\n  String(s || '')\n    .normalize('NFKD')\n    .replace(/[\\u0E31\\u0E34-\\u0E3A\\u0E47-\\u0E4E]/g, '')\n    .replace(/\\u200B/g, '');\n\nconst normalize = (s) => {\n  const raw = String(s || '').trim();\n  const lower = raw.toLowerCase();\n  const noMarks = rmThaiMarks(lower);\n  const noSpace = noMarks.replace(/\\s+/g, '');\n  return { raw: lower, noMarks, noSpace };\n};\n\nconst esc = (s) => s.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\n// ============ Categories ============\nconst CATEGORIES = {\n  conflict:  ['ทะเลาะ','งอน','เงียบใส่','ไม่คุย','ห่างเหิน','มีปัญหา','ขัดแย้ง'],\n  family:    ['พ่อตา','แม่ยาย','พ่อผัว','แม่ผัว','ครอบครัว','ครอบครัวอีกฝ่าย','แม่แฟน','พ่อแฟน','พ่อแม่แฟน','บ้านแฟน','ญาติแฟน'],\n  dateidea:  ['ชวนไปเดท','พาไปเที่ยว','พาไปกินข้าว','พาไปดูหนัง','ไปเดทกัน','ไปเที่ยวกัน','เดท','นัดเดท','สถานที่เดท','บรรยากาศ','กิจกรรมคู่'],\n  deeptalk:  ['คุยลึกซึ้ง','พูดคุยลึกซึ้ง','เปิดใจ','แชร์ความรู้สึก','ความรู้สึกภายใน','คุยเรื่องส่วนตัว','เรื่องส่วนตัว','คำถามลึก','คุยให้ลึก','deep talk','ถามอะไรดี'],\n  moveon:    ['เลิกคิดถึง','ลืมอดีต','ลืมแฟนเก่า','ลืมคนเก่า','ก้าวต่อไป','ก้าวข้าม','move on','ลืมเขาได้ยังไง','ลืมเธอได้ยังไง'],\n\n\n  \n  sex: [\n  // หมวดทั่วไป\n  'เรื่องบนเตียง','เรื่องเซ็กส์','เรื่องเพศสัมพันธ์','เรื่องsex',\n  'เพิ่มความสุขคู่รัก','เพิ่มความสุขบนเตียง','เพิ่มความสุขเรื่องเพศ','sex',\n\n  // ปัญหาผู้ชาย\n  'นกเขาไม่ขัน','อวัยวะไม่แข็ง','แข็งไม่เต็มที่','เสื่อมสมรรถภาพ',\n  'หลั่งเร็ว','หลั่งช้า','เสร็จไว','แตกไว','ชักช้า','นานเกิน',\n  'น้ำไม่ออก','ไม่เสร็จ','มีน้ำแต่ไม่เสร็จ','ไม่มีอารมณ์','มีอารมณ์ยาก','ไม่ถึงจุดสุดยอด',\n  'ขนาดเล็ก','ขนาดใหญ่',\n\n  // ปัญหาผู้หญิง / รอบเดือน\n  'ประจำเดือนไม่มา','เมนส์ไม่มา','เมนส์เลท','เมนส์ขาด','รอบเดือนไม่ตรง',\n  'ปวดท้องเมนส์','ตกขาว','ตกขาวผิดปกติ','คันช่องคลอด','กลิ่น',\n  'เจ็บช่องคลอด','แห้ง','ไม่มีน้ำหล่อลื่น',\n\n  // การคุมกำเนิด / เสี่ยงท้อง\n  'เจ็บเวลาxxx','เสี่ยงท้อง','ท้องหรือเปล่า','จะท้องไหม','วันปลอดภัย','นับวันไข่ตก',\n  'ยาคุม','ยาคุมฉุกเฉิน','คุมกำเนิด','ถุงยาง','พกถุง','สด','ไม่สด',\n\n  // โรคเพศสัมพันธ์\n  'กามโรค','โรคเพศสัมพันธ์','เอดส์','HIV','ซิฟิลิส','หนองใน','หูดหงอนไก่','ติดเชื้อ',\n\n  // คำสแลง/ชาวบ้าน\n  'มีอะไร','มีอะไรกัน','มีเซ็กส์','ซั่ม','เอากัน','xxx','เย็ด',\n  'เสียตัว','เปิดซิง','เวอร์จิ้น','ขึ้นเตียง','นอนกับแฟน',\n  'มะเขือเผา','ของลับ','ฟีโรโมน','เงี่ยน'\n],\n\n  \n  romance:   ['เพิ่มความหวาน','เพิ่มความโรแมนติก','ทำให้รักหวานขึ้น','ทำให้รักโรแมนติกขึ้น','เซอร์ไพรส์แฟน','เซอร์ไพรส์คนรัก','ของขวัญแฟน','ของขวัญคนรัก'],\n  marriage:  ['เตรียมตัวแต่งงาน','วางแผนแต่งงาน','จัดงานแต่งงาน','พิธีแต่งงาน','พิธีวิวาห์','งานแต่งงาน','การแต่งงาน'],\n  breakup:   ['เลิกกัน','หย่าร้าง','แยกทางกัน','ความสัมพันธ์จบลง','ความสัมพันธ์สิ้นสุด','เลิกคบกัน','เลิกแฟน'],\n  trust:     ['ความเชื่อใจ','การไว้ใจ','เชื่อใจกัน','ไว้ใจกัน','สร้างความเชื่อใจ','สร้างความไว้ใจ'],\n  debt:      [\n    'หนี้','ติดหนี้','เป็นหนี้','หนี้สิน','เจ้าหนี้','ทวงหนี้','ใช้หนี้','การเงิน','ปัญหาการเงิน','ปัญหาหนี้สิน','การเงินครอบครัว',\n    'หนี้พนัน','หนี้บอล','หนี้บาคาร่า','หนี้พนันบอล',\n    'ติดพนัน','ติดพนันบอล','ติดบาคาร่า','เสียพนัน','เสียบอล',\n    'โต๊ะบอล','แทงบอล','พนันบอล','พนันออนไลน์','พนันบาคาร่า','บาคาร่า'\n  ],\n  time:      ['หาเวลาให้กัน','จัดสรรเวลาให้กัน','เวลาคู่รัก','เวลาคนรัก','เวลาสำหรับความรัก'],\n  mentalhealth: [\n    'อยากตาย','ฆ่าตัวตาย','ไม่อยากอยู่แล้ว','ชีวิตไม่มีค่า','หมดหวัง','อยากหายไป','จบชีวิต','ไม่ไหวแล้ว',\n    'จะทำร้ายตัวเอง','กรีดข้อมือ','กระโดดตึก','กินยาเกินขนาด',\n    'ขืนใจ','บังคับมีเพศสัมพันธ์','ข่มขืน',\n    'ถูกทำร้าย','ทำร้ายร่างกาย','โดนตบตี','เลือดออก','ร่างกายช้ำ',\n    'panic','แพนิก','หายใจไม่ออก','หัวใจเต้นแรง','มือสั่น',\n    'ฉันควรตายไหม','ไปตายซะ'\n  ],\n};\n\n// ============ Compile regex ============\nconst COMPILED = Object.fromEntries(\n  Object.entries(CATEGORIES).map(([k, arr]) => ([\n    k,\n    {\n      raw: new RegExp(arr.map(esc).join('|'), 'i'),\n      ns:  new RegExp(arr.map(w => esc(rmThaiMarks(w).replace(/\\s+/g, ''))).join('|'), 'i'),\n    }\n  ]))\n);\n\n// ============ Pair rules ============\nconst FAMILY_BASE_RX = /(พ่อแม่|พ่อ|แม่|ญาติ|ผู้ปกครอง|ครอบครัว|บ้าน)/i;\nconst PARTNER_RX     = /(แฟน|คู่รัก|คู่สมรส|สามี|ภรรยา|ผัว|เมีย)/i;\n\nconst DEBT_BASE_RX   = /(หนี้|ติดหนี้|เป็นหนี้|หนี้สิน|เจ้าหนี้|ทวงหนี้|ใช้หนี้|การเงิน|ปัญหาการเงิน|ปัญหาหนี้สิน)/i;\nconst GAMBLE_BASE_RX = /(พนัน|แทงบอล|พนันบอล|โต๊ะบอล|บาคาร่า|คาสิโน|เสี่ยงโชค)/i;\n\n// ============ Buddy detector ============\nconst BUDDY_WORDS = ['เห้ย','มึง','แม่ง','เหี้ย','สัส','กู','นี่ๆ','วะ'];\nconst BUDDY_HEAD_RX = new RegExp(`^(?:${BUDDY_WORDS.map(esc).join('|')})`, 'i');\n\nconst BUDDY_TOKEN_RX = new RegExp(\n  `(^|[^ก-๙a-zA-Z0-9])(?:${BUDDY_WORDS.map(esc).join('|')})(?=$|[^ก-๙a-zA-Z0-9])`,\n  'i'\n);\nconst BUDDY_GLUE_RX = /(เห้ยมึง|ไอเหี้ย|แม่งเอ๊ย|เชี่ยไร)/i;\n\n// ============ Main ============\nconst payload = items[0].json || {};\nconst events = (payload.body && payload.body.events) || [];\nconst out = [];\n\nfor (const ev of events) {\n  const isText = ev?.message?.type === 'text';\n  const msg = isText ? String(ev.message.text || '').trim() : '';\n  const replyToken = ev.replyToken || '';\n  const userId = ev?.source?.userId || '';\n\n  if (!msg) continue;\n\n  const n = normalize(msg);\n\n  // Buddy mode\n  const buddy =\n  BUDDY_HEAD_RX.test(n.raw) ||\n  BUDDY_HEAD_RX.test(n.noMarks) ||\n  BUDDY_TOKEN_RX.test(n.raw) ||\n  BUDDY_TOKEN_RX.test(n.noMarks) ||\n  BUDDY_GLUE_RX.test(n.noSpace);\n\n  // Routes\n  let routes = [];\n  for (const [k, rx] of Object.entries(COMPILED)) {\n    if (rx.raw.test(n.raw) || rx.ns.test(n.noSpace)) routes.push(k);\n  }\n\n  // Pair rules\n  if ((FAMILY_BASE_RX.test(n.raw) || FAMILY_BASE_RX.test(n.noSpace)) &&\n      (PARTNER_RX.test(n.raw) || PARTNER_RX.test(n.noSpace)) &&\n      !routes.includes('family')) {\n    routes.push('family');\n  }\n  if ((DEBT_BASE_RX.test(n.raw) || DEBT_BASE_RX.test(n.noSpace)) &&\n      (GAMBLE_BASE_RX.test(n.raw) || GAMBLE_BASE_RX.test(n.noSpace)) &&\n      !routes.includes('debt')) {\n    routes.push('debt');\n  }\n\n  if (!routes.length) routes = ['default'];\n\n  // Critical flag\n  const isCritical = routes.includes('mentalhealth');\n\n  out.push({\n    json: {\n      chat_text: msg,\n      replyToken,\n      userId,\n      route: routes,\n      isCritical,\n      buddy,\n    },\n  });\n}\n\nreturn out.length ? out : [{ json: { error: 'No text events' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -64
      ],
      "id": "d87f0df1-e537-420a-8863-6aceb007f522",
      "name": "สกัดหัวข้อ"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $json.replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"เราเป็นห่วงคุณนะคะ สิ่งที่คุณกำลังเจอไม่เล็กเลย และคุณไม่จำเป็นต้องเผชิญลำพัง\\nถ้ารู้สึกไม่ปลอดภัย โทร 191\\nถ้าต้องการคุยกับผู้เชี่ยวชาญ โทร 1323 (สุขภาพจิต) หรือ 1300 (พม.) 24 ชม.\\nถ้าอยากระบายตรงนี้ พิมพ์มาได้เลยค่ะ เราพร้อมฟัง 💙\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        -48
      ],
      "id": "6793a4e6-9d01-4f45-9486-0ab24140feb1",
      "name": "ส่งข้อความห่วงใย",
      "credentials": {
        "httpBearerAuth": {
          "id": "wAbVyNGfMeeH6MYu",
          "name": "Bearer Line Auth account"
        }
      }
    },
        {
          "parameters": {
            "promptType": "define",
            "text": "=บทบาท: ที่ปรึกษาความรักโทนอ่อนโยน ไม่ตัดสิน\nขอบเขต: {{ $('ขยายความหัวข้อ').item.json.route_expanded }}\n\nรูปแบบคำตอบ (สั้น กระชับ จอเดียว):\n1) ใจความ (≤2 บรรทัด)\n2) ทางเลือก • ≤3 ข้อ\n3) ทำตอนนี้ ≤2 ข้อ\n\nปิดท้าย: กำลังใจ + {{ $('สุ่มประโยคปิดท้าย').item.json.closing }}\n\nความยาวรวม ≤700 อักษร\n\nข้อความจากผู้ใช้: {{ $json.chat_text }}",
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 2,
          "position": [
            2080,
            592
          ],
          "id": "6770a149-8ef5-4a44-bf0a-b8beaf07fc5e",
          "name": "AI ศิรานี"
        },
    {
      "parameters": {
        "promptType": "define",
        "text": "=บทบาท: เพื่อนสนิทให้คำปรึกษาแบบกันเอง โทนตรงไปตรงมา\nขอบเขต: {{ $('ขยายความหัวข้อ').item.json.route_expanded }}\n\nรูปแบบคำตอบ (สั้น กระชับ จบในจอเดียว):\n1) ใจความ ≤2 บรรทัด (เปิดแบบเพื่อน)\n2) ทางเลือก • ≤3 ข้อ (สั้น กระชับ ทำได้จริง)\n3) ทำตอนนี้ ≤2 ข้อ (ข้อปฏิบัติทันที)\nปิดท้ายกำลังใจ + {{ $('สุ่มประโยคปิดท้าย').item.json.closing }}\nความยาวรวม ≤700 อักษร\n\nข้อความจากผู้ใช้: {{ $json.chat_text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2064,
        64
      ],
      "id": "c62d6936-b4ab-40e7-a0df-7679688a1d7a",
      "name": "AI เพื่อนรัก"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2080,
        272
      ],
      "id": "c0ce7ef8-759c-41ff-a91b-f8075ac4f515",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "tIHUPdMbXkkTH0y7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==== Ending message lists ====\nconst ENDINGS = {\n  buddy: [\n    \"สู้ๆนะมึง\",\n    \"แกเอาอยู่แน่\",\n    \"เป็นกำลังใจให้เว้ย\",\n    \"อย่าเครียดมากเว้ย เดี๋ยวมันดีขึ้น\",\n    \"มึงทำได้อยู่แล้ว\",\n    \"อย่าลืมดูแลตัวเองด้วยนะเว้ย\",\n    \"ถ้ามึงอยากคุยอีก กูอยู่ตรงนี้แหละ\",\n    \"มึงไม่ใช่คนเดียวที่เจอปัญหาแบบนี้\",\n    \"กูเชื่อมั่นในตัวมึงนะ\",\n    \"มึงเก่งกว่าที่มึงคิดอีก\",\n    \"เดี๋ยวมันก็ผ่านไปเองแหละ\",\n  ],\n  sirani: [\n    \"ขอให้ความรักของคุณสมหวัง 💙\",\n    \"ขอให้โชคดีกับความรักครั้งนี้ค่ะ\",\n    \"ขอให้เจอความสุขที่ใจตามหา\",\n    \"เชื่อว่าความรักของคุณจะเติบโตงดงามค่ะ\",\n    \"ขอเป็นกำลังใจให้คุณนะคะ 💕\",\n    \"หวังว่าคำแนะนำนี้จะเป็นประโยชน์กับคุณค่ะ\",\n    \"ขอให้คุณมีความสุขในความรักค่ะ\",\n    \"ขอให้ทุกอย่างราบรื่นนะคะ\",\n    \"ขอให้คุณเจอคนที่ใช่ในเวลาที่ใช่ค่ะ\",\n    \"ขอให้ความรักของคุณสดใสและยั่งยืนค่ะ\",\n    \"ขอให้คุณได้พบกับความรักที่แท้จริงค่ะ\",\n  ],\n  sex_sirani: [\n    \"ขอให้มีความสุขบนเตียงนะคะ 💙\",\n    \"ขอให้มีความสุขกับทางเพศ\",\n    \"ปลอดภัยไว้ก่อน ยืดอกพกถุง\",\n  ],\n  sex_buddy: [\n    \"เอาให้ฟินไปเลยมึง\",\n    \"ขอให้สนุกบนเตียงนะเว้ย\",\n    \"อย่าลืมพกถุงนะมึง ปลอดภัยไว้ก่อน\",\n  ],\n  family_sirani: [\n    \"ขอให้คุณกับครอบครัวอีกฝ่ายหาทางปรับความเข้าใจกันได้ด้วยดีนะคะ\",\n    \"ขอให้ความสัมพันธ์ในครอบครัวของคุณดีขึ้นค่ะ\",\n    \"หวังว่าคำแนะนำนี้จะช่วยให้คุณกับครอบครัวอีกฝ่ายเข้าใจกันมากขึ้นค่ะ\",\n    \"ขอให้เจอจังหวะที่เหมาะให้ทุกคนได้ฟังกันจริง ๆ นะคะ\",\n  ],\n  family_buddy: [\n    \"ขอให้มึงกับครอบครัวอีกฝ่ายปรับความเข้าใจกันได้นะเว้ย\",\n    \"หวังว่าคำแนะนำนี้จะช่วยให้มึงกับครอบครัวอีกฝ่ายเข้าใจกันมากขึ้นนะมึง\",\n    \"ขอให้มึงเจอจังหวะที่เหมาะให้ทุกคนได้ฟังกันจริง ๆ นะเว้ย\",\n  ],\n};\n\n// ==== Helpers ====\nfunction pickRandom(arr) {\n  return arr[Math.floor(Math.random() * arr.length)];\n}\n\nconst buddy = $json.buddy || false;\nconst routes = $json.route || [];\n\n// ==== เลือก closing ตามเงื่อนไข ====\nlet closing = \"\";\n\nif (routes.includes(\"sex\")) {\n  closing = buddy ? pickRandom(ENDINGS.sex_buddy) : pickRandom(ENDINGS.sex_sirani);\n} else if (routes.includes(\"family\")) {\n  closing = buddy ? pickRandom(ENDINGS.family_buddy) : pickRandom(ENDINGS.family_sirani);\n} else {\n  closing = buddy ? pickRandom(ENDINGS.buddy) : pickRandom(ENDINGS.sirani);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    closing\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        240
      ],
      "id": "da91dbf1-0113-4257-b417-27ee191f367d",
      "name": "สุ่มประโยคปิดท้าย"
    },
    {
      "parameters": {
        "jsCode": "//ชุดคำถามลึกซึ้งสำหรับความสัมพันธ์\nconst DEEP_TALK = {\n  early: [\n    \"อะไรคือสิ่งเล็ก ๆ ที่ทำให้คุณยิ้มได้ในแต่ละวัน?\",\n    \"วันว่างในฝันของคุณเป็นแบบไหน?\",\n    \"คุณให้คุณค่ากับอะไรที่สุดในความสัมพันธ์?\",\n    \"อะไรทำให้คุณรู้สึกว่าเราคุยกันแล้วสบายใจ?\",\n    \"คุณชอบให้คนใกล้ชิดแสดงออกความรักแบบไหน?\"\n  ],\n  building: [\n    \"อีก 3–5 ปี คุณอยากเห็นความสัมพันธ์เราเป็นแบบไหน?\",\n    \"เวลามีปัญหาใหญ่ ๆ คุณอยากให้เรารับมือยังไง?\",\n    \"ถ้ามีเงินเก็บก้อนหนึ่ง เราควรใช้หรือจัดการยังไงดี?\",\n    \"คุณคิดว่าเราควรแบ่งเวลาให้กันยังไงท่ามกลางงาน/ชีวิตประจำวัน?\",\n    \"อะไรคือสิ่งสำคัญที่ทำให้คุณมั่นใจในความสัมพันธ์?\"\n  ],\n  married: [\n    \"คุณมองภาพ “บ้านในฝัน” ของเราสองคนไว้อย่างไร?\",\n    \"คุณคิดว่าอะไรคือกุญแจสำคัญในการรักษาความสัมพันธ์ระยะยาว?\",\n    \"คุณอยากทำกิจกรรมอะไรด้วยกันในอนาคต?\",\n    \"คุณอยากมีลูกไหม? ถ้าใช่ เลี้ยงแบบไหน?\",\n    \"คุณคิดว่าเราควรสื่อสารกันแบบไหนเวลามีความเห็นต่าง?\"\n  ],\n  intimacy: [\n    \"อะไรทำให้คุณรู้สึกปลอดภัยเวลาเราอยู่ใกล้กัน?\",\n    \"มีอะไรที่อยากลองด้วยกันไหม (โดยยินยอมทั้งคู่)?\",\n    \"คุณชอบการแสดงออกความรักแบบไหนที่สุด?\",\n    \"อะไรทำให้คุณรู้สึกว่าเราใกล้ชิดกันมากขึ้น?\",\n    \"คุณคิดว่าอะไรทำให้ความสัมพันธ์ทางกายของเรามีคุณค่ามากที่สุด?\"\n  ]\n};\n\n// === Helpers ===\nfunction pickRandom(arr, n = 3) {\n  const shuffled = [...arr].sort(() => 0.5 - Math.random());\n  return shuffled.slice(0, n);\n}\n\n// === Regex Map สำหรับเลือกหมวดหลัก ===\nconst TOPIC_MAP = {\n  early: /(เริ่มจีบ|เพิ่งคุย|เพิ่งรู้จัก|คุยมาไม่นาน)/i,\n  building: /(สร้างตัว|อนาคต|เก็บเงิน|แผนชีวิต|3-5ปี|3–5ปี)/i,\n  married: /(ใช้ชีวิตร่วมกัน|บ้าน|ครอบครัว|คู่ชีวิต|แต่งงาน)/i,\n  intimacy: /(เรื่องบนเตียง|ใกล้ชิด|กอด|จูบ|เพศ|intimacy|sex)/i\n};\n\n// === Input ===\nconst msg = $json.chat_text || \"\";\n\n// === Detect หมวดใหญ่ ===\nlet selected = \"early\"; // default\nfor (const [topic, rx] of Object.entries(TOPIC_MAP)) {\n  if (rx.test(msg)) {\n    selected = topic;\n    break;\n  }\n}\n\n// === เลือกคำถามจากหมวดที่เจอ ===\nconst questions = DEEP_TALK[selected] || [];\nconst randomQuestions = pickRandom(questions, 1); // จะสุ่ม 1 ข้อ\n\nreturn [{\n  json: {\n    ...$json,\n    deeptalk_topic: selected,\n    deeptalk_questions: randomQuestions\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -192
      ],
      "id": "bd805d20-313b-483b-af62-829194fde0f8",
      "name": "ชุดคำถาม deeptalk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $json.replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.deeptalk_questions[0] }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        -208
      ],
      "id": "1c60e749-beb2-4256-ab11-eb9bb8640bd9",
      "name": "ส่งคำถาม deeptalk",
      "credentials": {
        "httpBearerAuth": {
          "id": "wAbVyNGfMeeH6MYu",
          "name": "Bearer Line Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6d35680b-5fa1-4b6c-8078-caf79e7cbc9c",
              "leftValue": "={{ $json.buddy }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1728,
        176
      ],
      "id": "a622d04e-8667-47b5-ab5b-16c077cddc94",
      "name": "คัดกรองน้อง AI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11facf21-1726-4188-b2d9-b1c9e7f75813",
              "leftValue": "={{ $json.isCritical }}",
              "rightValue": "=s true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        240
      ],
      "id": "f4a052aa-1961-4fa3-a22c-c9e3c714ffe0",
      "name": "ประเมินความเสี่ยง"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route[0] }}",
                    "rightValue": "deeptalk",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7cc0e3ff-4bce-4551-824b-527b87e9df71"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deeptalk"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cee60e14-55c3-4955-96a0-194f04b53e3c",
                    "leftValue": "={{ $json.route[0] }}",
                    "rightValue": "sex",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sex"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": false,
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        256,
        -336
      ],
      "id": "7e61af89-e5b5-48f8-8107-93c3eb741562",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        -384
      ],
      "id": "f3b53ed2-4587-45f8-add0-eb855470fc0e",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "tIHUPdMbXkkTH0y7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=บทบาท: ผู้ให้คำปรึกษาเรื่องเพศ สุภาพแต่เป็นกันเอง โทนมืออาชีพ\nเน้น: ความรู้เพศสัมพันธ์ที่ปลอดภัย ความยินยอม ขอบเขต ความสัมพันธ์ที่ดี\nขอบเขตคำแนะนำ: {{ $('ขยายความหัวข้อ').item.json.route_expanded }}\n\nรูปแบบคำตอบ (สั้น กระชับ จบในจอเดียว):\n1) ใจความ ≤2 บรรทัด\n2) ข้อแนะนำ ≤3 ข้อ (เชิงความรู้ ปฏิบัติได้)\n3) ทำตอนนี้ ≤2 ข้อ (ข้อปฏิบัติทันที)\nปิดท้ายกำลังใจ 1 บรรทัด\nความยาวรวม ≤700 อักษร\n\nข้อความจากผู้ใช้: {{ $json.chat_text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        752,
        -640
      ],
      "id": "c777a9f3-3d04-45ac-ad32-934ed89dd0fd",
      "name": "AI เพศศึกษา"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('สกัดหัวข้อ').item.json.replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": {{ JSON.stringify((($json.output ?? '').toString()).slice(0,4800)) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        -640
      ],
      "id": "3b16fbcf-bf7f-43b0-b739-caf5ea4fa0f6",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "wAbVyNGfMeeH6MYu",
          "name": "Bearer Line Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "สกัดหัวข้อ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "คัดกรองน้อง AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI ศิรานี",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI ศิรานี",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ขยายความหัวข้อ": {
      "main": [
        [
          {
            "node": "สุ่มประโยคปิดท้าย",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "สกัดหัวข้อ": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI ศิรานี": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI เพื่อนรัก",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI เพื่อนรัก": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "สุ่มประโยคปิดท้าย": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ชุดคำถาม deeptalk": {
      "main": [
        [
          {
            "node": "ส่งคำถาม deeptalk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "คัดกรองน้อง AI": {
      "main": [
        [
          {
            "node": "AI เพื่อนรัก",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI ศิรานี",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ประเมินความเสี่ยง": {
      "main": [
        [
          {
            "node": "ส่งข้อความห่วงใย",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ขยายความหัวข้อ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "ชุดคำถาม deeptalk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI เพศศึกษา",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ประเมินความเสี่ยง",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI เพศศึกษา",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI เพศศึกษา": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6832bae8-c5c3-4f79-8e44-e2152a89b93d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6476a8f9274121855a8c7dab84a1aaa60aa02de3b1ea9e0ff2e84cba5491a19d"
  },
  "id": "EgK1S1DH51UiyDYs",
  "tags": []
}